<ul class="heroes">
  <!--form create new category-->
  <div class="card-body">
    <form (ngSubmit)="postCategory()">
      <div class="form-group">
        <div class="input-group">
          <span id="name"></span>
          <input type="text" class="form-control" placeholder="Category Name" [(ngModel)]="model.name" name="name">
        </div>
        <br />
        <input class="form-control" rows="3" placeholder="Name Ruby" [(ngModel)]="model.name_ruby" name="name_ruby">
        <br />
        <button *ngIf="!editing" type="submit" class="btn btn-primary btn-block">Add</button>
        <button *ngIf="editing" type="submit" class="btn btn-warning btn-block">Update</button>
      </div>
    </form>
  </div>


  <div *ngIf="getData">
    <div *ngIf="getData.result">
      get sucess api
      <div *ngFor="let category of getData.categories ">
        <li>
          name : {{category.name}}
        </li>
        <li>
          name ruby:  {{category.name_ruby}}
        </li>
        <button class="btn btn-info" (click)="editCategory()">
          <span class="glyphicon glyphicon-edit"> EditCategory</span>
        </button>
        <button class="btn btn-danger" (click)="deleteCategory(category._id)">
          <span class="glyphicon glyphicon-remove"> DeleteCategory</span>
        </button>

        <!--<button class="btn btn-danger" (click)="deleteCategory(category._id)">-->
            <!--Delete Category {{category.id}}-->
        <!--</button>-->


      </div>
    </div>
  </div>
</ul>

