<ul class="heroes">
  <div *ngIf="getData">
    <div *ngIf="getData.result">
      get sucess api
      <div *ngFor="let category of getData.categories ">
        <li>
          name : {{category.name}}
        </li>
        <li>
          name ruby:  {{category.name_ruby}}
        </li><li>
          name ruby:  {{category._id}}
        </li>
        <button class="btn btn-danger" (click)="deleteCategory(category._id)">
            Delete Category here {{category.id}}
        </button>

      </div>
    </div>
  </div>
  <button class="btn btn-info" (click)="postCategory()">
    Post Data to API
  </button>
</ul>

